<div class="well qoute">
<b> Today you are you! That is truer than true! There is no one alive who is you-er than you!</b>
<span id="auther"><em>-dr suess</em></span>

</div>

<div class="well qoute">
<b> Today you are you! That is truer than true! There is no one alive who is you-er than you!</b>
<span id="auther"><em>-dr suess</em></span>

</div>

<label for="textarea">

<textarea name="name" rows="8" cols="40" placeholder="input your quote"></textarea>

</label><br/>

<input type="text" row="4" col="20" placeholder="auther name">
<button type="button" class="btn btn-primary">add quote</button>
